$def with (israining, currweather, degrees, css) 

<!DOCTYPE html> <html> 
<head>
  <title>Is It Raining in Jerusalem?</title> 
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" type="text/css" href="$css" />
  <!-- Rain pattern from http://www.patterncooler.com/ -->
</head> 

<body>
<p id="israining"><a href="http://weather.yahoo.com/israel/yerushalayim/jerusalem-1968222/">$israining</a></p> 
<p><span> Current Weather: $currweather & $degrees F </br>
<a href="https://github.com/ShevaDas/IsItRaininginJerusalem">Source</a> | <a href="http://isitraininginjerusalem.shevagoldberg.com/about.html">About</a></span> </span></p> 
</body>
</html>
